@import "base.css";
body,html{
    width: 100%;
    height: 100%;
}
body{
    position: relative;
    left:0;
    top:0;
    overflow: hidden;
}
header{
    height: 0.4rem;
}
header,header img{
    display: block;
    width: 100%;
    height: 0.4rem;
}
.nav{
    height: 0.88rem;
    padding: 0.3rem;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav a,.nav a img{
    display: block;
    width: 0.4rem;
    height: 0.4rem;
    font-size: 0.2rem;
    text-align: center;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 999;
}
.nav a:nth-of-type(2).active{
    width: 0.9rem;
    color: #fff;
}
.nav p{
    font-size: 0.35rem;
    color: #fff;
}
.tu{
    width: 100%;
    height: 9.5rem;
    overflow: hidden;
    position: absolute;
    top:0rem;
    left:0rem;
}
.img1{
    display: block;
    width: 102%;
    height: auto;
    position: absolute;
    top:-1.1rem;
    left:-0.1rem;
    z-index: -99;
}
.img2{
    display: block;
    width: 104%;
    height: auto;
    position: absolute;
    top:5.5rem;
    left:-0.2rem;
    z-index: -9;
}
.zhe{
    width: 100%;
    height: 10.5rem;
    position: absolute;
    top:0;left:0;
    background: rgba(255,49,141,0.5);
    z-index: -99;
}
.play{
    width: 100%;
    height: 1.5rem;
    margin-top: 8.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.play li{
    width:1rem;
    height:1rem;
}
.play li:nth-of-type(3){
    width: 1.2rem;
    height:1.2rem;
    background: #AF31FF;
    border-radius: 50%;
}
.play li img{
    display: block;
    width: 100%;
    height: auto;
}
.play li:nth-of-type(2){
    transform: rotate(180deg);
}
.ci{
    width: 100%;
    height:100%;
    margin:0 auto;
}
.ci li{
    height: 0.5rem;
    color: #fff;
    opacity: 0.9;
    font-size: 0.3rem;
    line-height: 0.5rem;
    text-align: center;
}
.wrapper{
    height: 7.3rem;
    width: 7.2rem;
    border-radius: 0.1rem;
    overflow: hidden;
    position: absolute;
    z-index:999;
    top: 1.3rem;
    left: 0;right:0;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.scroller{
    position: absolute;
    top:0;
    left:0;right:0;
    margin: auto;
    z-index: 1;
}
audio{
    display: block;
    margin:0 auto;
    margin-top: 0.2rem;
}
.current{
    width: 7rem;
    height: 1rem;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.current .left,.current .right{
    width: 0.36rem;
    height: 0.5rem;
    text-align: center;
    line-height: 0.5rem;
    font-size: 0.28rem;
    color: #575861;
}
.current .right{
    width: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.current  img{
    display: block;
    width: 100%;
    height: 100%;
}
.current .center{
    width: 4.6rem;
    height: 0.08rem;
    background: #E8D9DD;
    border-radius: 0.05rem;
}
.jindu{
    width: 0rem;
    height: 0.08rem;
    background: #FF318D;
    border-radius: 0.05rem;
    position: relative;
}
.quan{
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 50%;
    box-sizing: border-box;
    border: 0.1rem solid #fff;
    box-shadow: 0.005rem 0.005rem 0.1rem 0.05rem rgba(255,49,141,0.5);
    position: absolute;
    right:-0.15rem;
    top:0;
    bottom:0;
    margin: auto;
}