@import "base.css";
body,html{
    width: 100%;
    height: 100%;
}
img.img{
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    left:0;top:-1.2rem;
    z-index: -9999;
}
img.img1{
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    left:0;top:0.08rem;
    z-index: -1;
}
img.img2{
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    left:0;top:0rem;
    z-index: -999;
}
body{
    background:#f5f3ff url("../img/hbj.png") no-repeat center / cover;
    position: relative;
    left:0;
    top:0;
    overflow: hidden;
}
header{
    height: 0.4rem;
}
header,header img{
    display: block;
    width: 100%;
    height: 0.4rem;
}
.nav{
    height: 0.88rem;
    padding: 0.3rem;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav a,.nav a img{
    display: block;
    width: 0.4rem;
    height: 0.4rem;
    font-size: 0.2rem;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.nav .change{
    width: 1rem;
}
.nav a:nth-of-type(2).active{
    width: 0.9rem;
    color: #fff;
}
.nav p{
    font-size: 0.35rem;
    color: #fff;
}
.xinxi{
    width: 7.02rem;
    height: 1.9rem;
    margin: 0 auto;
    margin-top: 0.1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.xinxi .left{
    width: 1.88rem;
    height: 1.66rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.xinxi .right{
    width: 4.5rem;
    height: 1.35rem;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.left-one{
    width: 1.6rem;
    height: 1.6rem;
    background: rgba(255,255,255,0.5);
    transform: rotate(10deg);
    border-radius: 0.1rem;
}
.left-two{
    width: 1.5rem;
    height: 1.5rem;
    background: #fff;
    border-radius: 0.1rem;
    position: absolute;
    left:0.2rem;
    top:0.1rem;
    overflow: hidden;
}
.left-two img{
    display: block;
    width: 100%;
    height: auto;
    margin: 0.05rem;
    border-radius: 0.1rem;
}
.right span{
    width: 100%;
    height: 0.26rem;
    font-size: 0.3rem;
    color: #Fff;
    line-height: 0.3rem;
}
.right ul{
    width: 3rem;
    height: 0.6rem;
    display: flex;
    justify-content: flex-start;
    border-bottom: 0.02rem dashed #fff;
    box-sizing: border-box;
}
.right ul li:nth-of-type(1) img{
    display: block;
    width:0.54rem ;
    height: auto;
}
.right ul li:nth-of-type(2){
    font-size:0.24rem;
    color: #fff;
    line-height: 0.55rem;
}
.right p{
    width: 100%;
    height: 0.38rem;
    color: #fff;
    font-size: 0.24rem;
    line-height: 0.8rem;
}
.left{
    margin-right: 0.3rem;
    position: relative;
}
.main li{
    height: 1.55rem;
}
.left .left-one{
    width: 1.1rem;
    height: 1.1rem;
    background: #FE3191;
    margin-left: 0.1rem;
}
.left-two{
    width: 1.1rem;
    height: 1.1rem;
    overflow: hidden;
    position: absolute;
    top:0.03rem;left:0.1rem;
}
.left-two img{
    width: 1.2rem;
    height: auto;
}
.geming{
    width: 4rem;
}
/*下面*/
.wrapper{
    height: 10rem;
    width: 7.02rem;
    border-radius: 0.1rem;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    top: 3rem;
    left: 0rem;right: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.scroller{
    position: absolute;
    z-index: 1;
}
.main{
    width: 7.02rem;
    margin:0 auto;
}
.main li{
    width: 7.02rem;
    height: 1.6rem;
    box-sizing: border-box;
    border-bottom: 0.02rem dashed #bbbaba;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.main li:nth-of-type(1) .shu,.main li:nth-of-type(2) .shu,.main li:nth-of-type(3) .shu{
    width: 0.57rem;
    height: 0.62rem;
    color: #f73c5f;
    font-size: 0.26rem;
}
.main li:nth-of-type(3)~li .shu{
    width: 0.57rem;
    height: 0.62rem;
    color: #3a3f45;
    font-size: 0.26rem;
}
.geming{
    width: 4.95rem;
    height: 0.62rem;
}
.geming p:nth-of-type(1){
    font-size: 0.3rem;
    color: #89919e;
}
.geming p:nth-of-type(2){
    font-size: 0.26rem;
    color: #bbbaba;
}
.tianjia{
    width: 0.5rem;
    /*height: 0.5rem;*/
    position: relative;
    margin-left: 0.2rem;
}
.tianjia img{
    display:block;
    width: 100%;
    height: auto;
    transition: all 0.3s;
    background: #fff;
}
.tianjia .img4{
    position: absolute;
    top:0;
    right:0;
}
.tianjia .img3{
    position: absolute;
    top:0;
    right:0;
}
.tianjia img.active{
    z-index: 999;
    transform:rotate(45deg);
}
.div{
    width: 0.49rem;
    height: 0.49rem;
    background: #ff318d;
    position: absolute;
    top:1rem;
    right:0.25rem;
    border-radius: 50%;
    z-index: 99999;
}