<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/KTV/Public/js/rem.js"></script>
    <link rel="stylesheet" href="/KTV/Public/css/home.css">
</head>
<body>
    <header>
        <img src="/KTV/Public/img/zhuangtai.png" alt="">
    </header>
    <ul class="main">
        <li><a href="/KTV/index.php/music/index"></a></li>
        <li><a href="/KTV/index.php/game/index"></a></li>
        <li><a href="/KTV/index.php/shop/index"></a></li>
        <li><a href="/KTV/index.php/own/index"></a></li>
    </ul>
</body>
</html>