<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商品列表</title>
    <script src="/KTV/Public/js/rem.js"></script>
    <link rel="stylesheet" href="/KTV/Public/css/success.css">
    <script src="/KTV/Public/js/jquery-3.2.1.js"></script>
    <script src="/KTV/Public/js/iscroll.js"></script>
</head>
<body>
<header>
    <img src="/KTV/Public/img/zhuangtai1.png" alt="">
</header>
<nav class="nav">
    <a href="javascript:history.back()">
        <!--<img src="/KTV/Public/img/at_04.png" alt="">-->
    </a>
    <p>提交成功</p>
    <a class="change"></a>
</nav>

<ul class="main list">
    <li class="success">
        <div>恭喜&nbsp;&nbsp; 您已提交成功</div>
    </li>
</ul>


<a href="/KTV/index.php/home/index" class="bottom">返回点歌</a>
</body>
</html>